.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.mainLink {
  font: var(--font-m);
  color: var(--inverted-primary-color);
  margin-right: 20px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
